<div class="cont_dscrp" style="padding: 30px;">
    <text class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
        ipsum at eros fermentum tristique vel in dui. Praesent maximus
        condimentum tortor vitae imperdiet. Pellentesque in semper urna. Nulla
        facilisi. Nam aliquet finibus turpis at porta. Suspendisse consequat,
        nunc a venenatis feugiat, turpis nibh finibus sem, et pharetra nisl quam
        ac est.
    </text>

</div>
<div class="list">
    {{#user}}
        <div class="itm_list">
            {{#if url}}
                <a href={{url}}><text>{{first_name}}
                        {{last_name}}</text></a>&nbsp;

            {{else}}
                <text class="italic">{{first_name}}
                    {{last_name}}</text>&nbsp;
            {{/if}}
            {{age}}&nbsp;
            <a href="/petition/signers/{{city}}">{{city}}</a>
            <br />
        </div>
    {{/user}}
</div>